body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a,
.btn {
	transition: .2s ease-in-out;
}

header {
	border-bottom: 1px solid #ebebeb;
	padding: 1rem 2rem;
	width: 100%;
	-webkit-box-shadow: 0px 24px 73px -14px rgba(0,0,0,0.08);
	-moz-box-shadow: 0px 24px 73px -14px rgba(0,0,0,0.08);
	box-shadow: 0px 24px 73px -14px rgba(0,0,0,0.08);
}

.flex {
	display: flex;
	align-items: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

/** Navbar **/

.logo-container,
nav {
	width: 50%;
}

.logo-container > h1 {
	margin: 0;
}

.logo-container > h1 > a {
	color: #1dabff;
}

.logo-container > h1 > a:hover {
	color: #75CBFE;
}

nav {
	text-align: right;
}

.nav-list {
	margin: 0;
	padding: 0;
}

.nav-list > li {
	display: inline-block;
	margin: 0 2rem;
}

.nav-list > li > a {
	color: #3c3b3b;
}

.nav-list > li > a:hover {
	color: #1dabff;
}

/** Buttons **/

.btn {
	padding: .5rem 2rem;
	background: transparent;
	border: 1px solid #3c3b3b;
	border-radius: 20px;
}

.btn:hover {
	cursor: pointer;
}

.btn-login,
.btn-blue,
.btn-edit > a {
	color: #fff;
}

.btn-delete > a {
	color: #ff0000;
}

.btn-transparent > a {
	color: #3645fc;
}

.btn-login {
	background-color: #6a0efa;
	border: 1px solid #5403d3;
	color: #fff;
}

.btn-login:hover {
	background-color: #9659F6;
	border: 1px solid #7C2CF9;
}

.btn-blue {
	background-color: #3645fc;
	border: 1px solid #1627fa;
	color: #fff;
}

.btn-blue:hover {
	background-color: #868FFB;
	border: 1px solid #5D69FC;
	color: #fff;
}

.btn-edit {
	background-color: #1dabff;
	border: 1px solid #09a0f9;
	color: #fff;
}

.btn-edit:hover {
	background-color: #75CBFE;
	border: 1px solid #49BBFF;
}

.btn-delete {
	border: 1px solid #ff0000;
	color: #ff0000;
}

.btn-transparent {
	border: 1px solid #3645fc;
	color: #3645fc;
}

.btn-transparent:hover{
	border: 1px solid #1dabff;
}

.btn-transparent:hover > a {
	color: #1dabff;
}

/** Box **/

.box {
	background-color: #fff;
	border: 1px solid #ebebeb;
	margin: 5rem auto;
	border-top: 5px solid #3645fc;
	-webkit-box-shadow: 27px 25px 73px -14px rgba(0,0,0,0.08);
	-moz-box-shadow: 27px 25px 73px -14px rgba(0,0,0,0.08);
	box-shadow: 27px 25px 73px -14px rgba(0,0,0,0.08);
}

.box-header {
	display: flex;
	border-bottom: 1px solid #ebebeb;
	padding: 1rem 3rem;
}

.box-title-container {
	width: 85%;
}

.box-title {
	text-transform: uppercase;
	color: #454444;
	margin: 0 1rem;
	display: inline-block;
}

.box-title:first-child{
	width: 35%;
	margin-left: 0;
}

.item-list > ul,
.category-list > ul {
	padding: 2rem 3rem;
	margin: 0;
	list-style: none;
}

.category-list {
	border-right: 1px solid #ebebeb;
	width: 30%;
	margin: 0;
}

.list-items {
	margin: 1rem 0rem;
}

.list-items > a {
		color: #3c3b3b;
}

.list-items > a:hover {
		color: #1dabff;
}

.item-list {
	width: 70%;
}

/** Show **/

.box-text-container {
	padding: 1rem 2rem;
}

.button-row {
	border-top: 1px solid #ebebeb;
}

.button-row > .btn {
	margin: 1rem 1rem;
}

.button-row > .btn:first-child {
	margin-left: 2rem 
}

/** Form **/

.box-main > form {
	padding: 1rem 2rem 1rem 2rem;
}

.field {
	width: 100%;
	margin: 1.5rem 0
}

.field > label, input, textarea, select {
	display: block;
	margin: .5rem 0;
}

.field > input, textarea {
	border-radius: 20px;
	outline: none;
	border: 1px solid #ebebeb;
	padding: .5rem 1rem;
	width: 80%;
}

.field > textarea {
	padding: 1.5rem 1rem;
}

form > .button-row {
	padding-top: 1rem;
}

form > .button-row > .btn {
	display: inline-block;
}

form > .button-row > .btn:first-child {
	margin-left: 0;
}