{# _app/templates/categoryItems/edit.html_ #}

{% extends "layout.html" %}
{% block title %}Edit Item{% endblock %}
{% block body %}
    {{ super() }}
    <main>
        <div class="container">
    	<div class="box">
    		<div class="box-header">
    			<div class="box-title-container">
	    			<h3 class="box-title">Edit {{editCategoryItem.name}}</h3>
    			</div>
    		</div>
    		<div class="box-main">
    			<form action="{{url_for('categoryItemEdit', category_id = editCategoryItem.category_id, item_id=editCategoryItem.id)}}" method="POST">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="{{editCategoryItem.name}}">
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea name="description" placeholder="{{editCategoryItem.description}}"></textarea>
                    </div>
                    <div class="field">
                        <label>Select a category</label>
                        <select name="category_id">
                            {% for category in categories %}
                                <option value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="button-row">
                        <input type="submit" name="Submit" class="btn btn-blue">
                        <button class="btn"><a href="{{url_for('categoryItemShow',category_id = editCategoryItem.category_id, item_id = editCategoryItem.id)}}">Back</a></button>
                    </div>
                </form>
    		</div>
    	</div>
        </div>
    </main>
{% endblock %}