{# _app/templates/home.html_ #}

{% extends "layout.html" %}
{% block title %}{{categoryItem.name}}{% endblock %}
{% block body %}
    {{ super() }}
    <main>
        <div class="container">
    	<div class="box">
    		<div class="box-header">
    			<div class="box-title-container">
	    			<h3 class="box-title">{{categoryItem.name}}</h3>
    			</div>
    			<button class="btn"><a href="{{url_for('categoryItem.categoryItemIndex')}}">Back</a></button>
    		</div>
    		<div class="box-main">
                <div class="box-text-container">
        		  <p>
                    {{categoryItem.description}}      
                  </p>
              </div>
              {% if session['user_id'] == categoryItem.user_id %}
                  <div class="button-row">
                    <button class="btn btn-edit"><a href="{{url_for('categoryItem.categoryItemEdit',category_id = categoryItem.category_id, item_id = categoryItem.id)}}">Edit</a></button>
                    <form class="delete-form" action="{{ url_for('categoryItem.categoryItemDelete',category_id = categoryItem.category_id, item_id=categoryItem.id)}}" method = 'post'>
                        <input class="btn btn-delete" type="submit" value="Delete">
                    </form>
                  </div>
              {% endif %}
    		</div>
    	</div>
        </div>
    </main>
{% endblock %}