{# _app/templates/layout.html_ #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% assets "main" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    </head>
    <body>
    {% block body %}
        <header>
        	<div class="container flex">
		        <div class="logo-container">
		        	<h1><a href="{{url_for('home')}}">Catalog.io</a></h1>
	    		</div>
	        	<nav>
	        		<ul class="nav-list">
	        			<li><a href="{{url_for('categoryItem.categoryItemIndex')}}">Items</a></li>
	        			<li><a href="{{url_for('category.categoryIndex')}}">Categories</a></li>
	        			<button class="btn btn-login">
	        				Login
	        			</button>
	        		</ul>
	        	</nav>
        	</div>
        </header>
    {% endblock %}
    </body>
</html>